<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/restate</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">password</property>

		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>

		<mapping class="com.realestate.pojo.User" />
		<mapping class="com.realestate.pojo.Person" />
		<mapping class="com.realestate.pojo.Email" />
		
		<mapping class="com.realestate.pojo.Property" />
		<mapping class="com.realestate.pojo.Address" />
		<mapping class="com.realestate.pojo.Image" />
	</session-factory>
</hibernate-configuration>





